.statistics{
    margin: 30px;
}
.infoCards{
    margin: 80px;
}
.infoCards .card{
    margin:10px;
    width: 176px;
}
.infoCards .card .card-text{
    font-size: 12px;
}
.buttons{
    margin-left: 66px;
    margin-top: 15px;
}

.buttons button{
    margin-left: 15px;
    margin-right: 15px;
}

.absolute{
    position: absolute;
    height: 100vh;
    width: 100%
}
.relative{
    position: relative;
}
.fixed{
    /* position: fixed; */
}